!!! 5
%html
  %head
    %title Vitae #{ @cv && ": "+ @cv.name }
    = include_theme_css
  %body
    %div
      %button#summarise{:style => "display:none"} Summarise!
    #content
      = yield
    = include_theme_js