= haml :vcard, :locals => { :name => @cv.name, :contact_details => @cv["contact"] } if @cv["contact"]

= Vitae::Nodes::BaseNode.new(@cv.except(%w[vitae_config contact]))

%br
%br
=link_to "Vitae Home", "/"